@model Customer

<div class="col-lg-2" style="min-width: max-content">
    @using (Html.BeginForm("Create", "Customers", FormMethod.Post))
    {    
        <div class="row">
            <div class="col d-flex justify-content-start align-items-end">
                <a class="d-flex align-items-center gap-2 text-decoration-none" asp-action="List">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Cancel
                </a>
            </div>
            <div class="col d-flex justify-content-center align-items-center"><h1>Customer</h1></div>
            <div class="col d-flex justify-content-end align-items-end text-primary">
                <label role="button" for="confirmCreate" class="d-flex justify-content-center align-items-center">
                    <input id="confirmCreate" type="submit" class="border-0 bg-transparent text-primary d-flex align-items-center gap-2 text-decoration-none" value="Save"/>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>   
                </label>  
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col text-start">
                        <p class="fs-5 mb-0">Name</p>
                    </div>
                    <div class="col text-end">
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class="text-end pe-1" } })
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col text-start">
                        <p class="fs-5 mb-0">Surname</p>
                    </div>
                    <div class="col text-end">
                        @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "text-end pe-1" } })
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col text-start">
                        <p class="fs-5 mb-0">Phone Number</p>
                    </div>
                    <div class="col text-end">
                        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "text-end pe-1" } })
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col text-start">
                        <p class="fs-5 mb-0">Email</p>
                    </div>
                    <div class="col text-end">
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "text-end pe-1" } })
                    </div>
                </div>
            </div>
        </div>
    }
</div>